.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 110px;
  height: 200px;
  background-color: #ffffff;
}

.avatar {
  height: 80px;
  width: 80px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.online {
  color: green;
}

.offline {
  color: red;
}
