.table {
  width: 800px;
  height: 500px;
  border-collapse: collapse;
  margin-left: 20px;
  align-content: center;
}
.thead {
  background-color: #111;
}
.table th,
.table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #111;
}

.table th {
  background-color: #ffffff;
  color: #111;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

.thText {
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat";
  text-transform: capitalize;
  background-color: #111;
}
